.App {
  text-align: center;
  margin-left: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  height: 50vh;
  width: 50vw;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)
}
*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  
  width: 250px;
  height: 47%;
  margin-right: 20px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: aliceblue;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)
}
body{
  background-image: url('/src/pexels.jpg');
  background-size: contain;
  color: aliceblue;
}
.artistdetails{
  margin-top: 15px;
  border-bottom: 1px solid;
}
.titledetails{
  margin-top: 15px;
  
}
.artist-image{
  margin-top: 15px; 
}
.musicControls{
  margin-top: 15px;
  margin-bottom: 15px;
}